.leftBtn,.rightBtn{
	height: 30px;
	width: 60px;
	background:#fff;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	color:rgba(0,0,0,0);
}
.leftBtn{
	left: 0px;
}
.rightBtn{
	right: 0px;
}
.oBtnbox{
	position: absolute;
	bottom: 20px;
	margin-left: 48%;
}
.oBtnbox li{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: red;
	float: left;
	margin-left: 10px;
	list-style:none;
	cursor: pointer;
}
.oBtnbox li.active{
	background:blue;
}


#carousel{
	position: absolute;
	top: 86px;
}
#carousel .leftBtn,#carousel .rightBtn{
	height: 60px;
	width: 50px;
	background:none;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	font-size: 40px;
	font-weight: 200;
}
/*#carousel .leftBtn:hover,#carousel .rightBtn:hover{
	background:rgba(0,0,0,0.3);
}*/
#carousel .leftBtn{
	left: 234px;
}
#carousel .oBtnbox li.active{
	background:#fff;
	border: 1px solid rgba(0,0,0,0.7);
}
#carousel .oBtnbox li{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #ccc;
	float: left;
	margin-left: 10px;
	list-style:none;
	cursor: pointer;
	box-sizing: border-box;
}