
.list .logo{
	float: right;
}
.list .link{
	float: left;
}
.list .link a{
	color: #616161;
}
.top{
	height: 100px;
	background: #1c1c1c;
}
.top .show{
	width: 1062px;
	float: left;
}
.top .show .logo{
	float: left;
}
.top .show .logo img{
	margin-top: 25px;
}
.top .show .link{
	float: right;
	margin-right: 23px;
}
.top .show .link li{
	height: 50px;
	width: 108px;
	line-height: 50px;
	text-align: center;
	margin-top: 25px;
}
.top .show .link li a{
	font-size: 14px;
	color: #c8c8c8;
}
.top .account{
	float: right;
	margin-top: 40px;
	margin-right: 10px;
	position: relative;	
}
.top .account ul li:nth-child(1){
	margin-right: 27px;
}
.top .account li{
	opacity: 0.6;
}
.top .account li:hover{
	opacity: 1;
}
.hx:after{
	content: "";
	width: 1px;
	height: 14px;
	background: #333;
	position: absolute;
	top: 3px;
	left: -49px;
}
.top .show .link li a:hover{
	color: #fff;
}
.top .account .accountD{
	position: absolute;
	top: 23px;
    right: -15px;
    z-index: 1000;
	display: none;
}
.top .account li:nth-child(2){
	margin-top: -2px;
}
.content{
	background: #e5e5e5;
	position: relative;
}
.content .nav{
	height: 90px;
	width: 100%;
}
.content .label{
	height: 89px;
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
}
.btnLine{
	border-bottom: 1px solid #cacaca;
}
.content .label li{
	margin-right: 20px;
}
.content .label li a{
	text-decoration: none;
	color: #616161;
	font-size: 14px;
	line-height: 90px;
	opacity: 0.8;
	font-weight: 500;
}
.content .label li:first-child a{
	font-weight: 900;
	color: #222;
}
.content .label li:first-child{
	margin-left: 10px;
}
.content .liList{
	height: 0px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	top: 90px;
	left: 0px;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0 3px 5px -3px rgba(0,0,0,0.3);
	cursor: pointer;
}
.content .liList div{
	width: 78px;
	float: left;
	margin-top: 74px;
}
.content .liList div:nth-child(1){
	margin-left: 668px;
	margin-right: 90px;
}
.content .liList div p{
	margin-left: 8px;
}
.dot:before{
	content: "·";
	color: #c7c7c7;
	margin-right: 20px;
}
.content1,.content2,.content3,.content4,.content5,.content6,.content7{
	width: 100%;
	top: 0px;
	left: 0px;
	display: none;
}
/*标签为content1的内容样式*/
.content1{
	height: 1356px;
}
.content1 .show img{
	border-radius: 10px;
	border:1px solid #cacaca;
}
.content1 .bottomBtn{
	position: absolute;
	bottom: 10px;
	left: 50%;
}
.content1 .bottomBtn li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	margin-right: 10px;
	cursor: pointer;
	list-style: none;
}
.content1 .bottomBtn li.active{
	background: rgba(255,0,255);
}
.content1 .download{
	height: 800px;
	margin-top: 14px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}
.content1 .download div{
	position: absolute;
}
.content1 .download .link .king{
	width: 100%;
	height: 100%;
}
.content1 .download li{
	width: 303px;
	height: 398px;
	text-align: center;
	border: 1px solid #f5f5f5;
	background: #ffffff;
}
.content1 .download li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.content1 .download ul li:nth-child(1){
	border-top-left-radius: 10px;
}
.content1 .download li:nth-child(4){
	border-top-right-radius: 10px;	
}
.content1 .download li:nth-child(5){
	border-bottom-left-radius: 10px;
}
.content1 .download li:nth-child(8){
	border-bottom-right-radius: 10px;
}
.content1 .download .demon {
	z-index: 2;
}
.content1 .download .demon li  img:nth-child(1){
	margin-top: 90px;
	margin-bottom: 20px;
}
.content1 .download .demon li  p:nth-of-type(1){
	margin-bottom: 17px;
	font-size: 14px;
	color: #999;
}
.content1 .download .demon li  p:nth-of-type(2){
	font-size: 12px;
	color: #bdbdbd;
	margin-bottom: 30px;
}
.content1 .download .link li img{
	margin-top: 68px;
	margin-bottom:38px; 
}
.content1 .download li a p:nth-of-type(1){
	margin-bottom: 45px;
	font-size: 15px;
	color: #757575;
}
.content1 .download .link li a p:nth-of-type(2){
	font-size: 13px;
	color: #6e95f3;
}
.content1 .download .link li:nth-child(1) img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

/*标签为content2的内容样式*/ 
.content2{
	text-align: center;
}
.content2 .div1 .see{
	border-top: 1px solid #ddd;
	height: 86px;
	line-height: 86px;
}
.content2 .div1 .see a{
	float: right;
	color: #5589ee;
    font-size: 12px;
}
.content2 .div1 img{
	margin-top: 22px;
}
.content2 .div1 h2{
	height: 64px;
	line-height: 64px;
	color: #616161;
	font-size: 30px;
	font-weight: 400;
}
.content2 .div1 p{
	height: 92px;
	line-height: 28px;
	color: #999;
	font-size: 14px;
}
.content2 .div1 span{
	display: block;
	color: #999;
	font-size: 12px;
}
.content2 .div1 .download1,.download2{
	float: left;
	margin-top: 17px;	
}
.content2 .div1 .download1{
	margin-left: 375px;
	margin-right: 60px;
}
.content2 .div1 .download1 a{
	display: block;
	line-height: 60px;
	border-radius: 8px;
	width: 210px;
	height: 60px;
	color: #fff;
	background-color: #6f97e5;
}
.content2 .div1 .download1 a:hover{
	background-color: #527ed9;
}
.content2 .div1 .download2 a{
	display: block;
	line-height: 60px;
	border-radius: 8px;
	width: 210px;
	height: 60px;
	color: grey;
	background-color: #eaeaea;
	border:1px solid #ccc;
}
.content2 .div1 .download1 p,
.content2 .div1 .download2 p{
	margin-top: 17px;
}
.content2 .div2{
	margin-top: 170px;
	position: relative;
}
.content2 #div22 {
	margin-left: 206px;
	top: 46px;
}
.content2 #div23 {
	margin-left: 51px;
	top: 72px;
}
.content2 #div23 img{
	border-radius: 5px;
	-webkit-background-size: contain;
	background-size: contain;
}
.content2 .div2 div:nth-child(1){
	width: 1225px;
	height: 670px;
	background:url(../images/image5/1bg1.png) no-repeat;
	
}
.content2 .div2 div:nth-child(2){
	position: absolute;
	z-index: 999;
	width: 341px;
	height: 621px;
	right: 0px;
	top: 72px;
	background:url(../images/image5/1bg2.png);
	background-size: 100%;
}
.content2 .div3{
	height: 277px;
	margin-top: 110px;
	border-top: 1px solid #ddd;
	padding: 80px 0 39px 0;
	box-sizing: border-box;
}
.content2 .div3 div{
	float: left;
}
.content2 .div3 div:nth-child(1){
	width: 260px;
	height: 75px;
	font-size: 18px;
	line-height: 27px;
	color: #616161;
	margin-right: 80px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
}
.content2 .div3 div ul{
	color: #999;
	font-size: 13px;
	text-align: left;

}
.content2 .div3 div li{
	float: none;
	margin-bottom: 16px;
	list-style: disc;
}
.content2 .div3 p{
	top: 92px;
	left: -786px;
	position: relative;
	text-align: left;
	color: #bdbdd1;
	font-size: 9px;
}

/*标签为content3的样式*/
.content3{
	text-align: center;
	border-top: 1px solid #ddd;
}
.content3 img:nth-child(1){
	margin-top: 70px;
}
.content3 h2{
	font-size: 30px;
	color: #616161;
	font-weight: 400;
	margin-top: -20px;
	margin-bottom: 15px;
}
.content3 .p{
	font-size: 14px;
	color: #999;
	line-height: 26px;
	margin-bottom: 25px;
}
.content3 .download div{
	height: 50px;
	width: 150px;
	line-height: 50px;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	font-size: 17px;
	color: #808080;
	float: left;
	cursor: pointer;
}
.content3 .download div:hover{
	background-color: rgba(0,0,0,0.1);
}
.content3 .download div:first-child{
	margin-left: 405px;
	margin-right: 19px;
}
.content3 .download div:last-child{
	width: 50px;
	margin-left: 19px;
	background: url(../images/image5/3er.png) no-repeat center center;
	cursor: auto;
}
.content3 span:nth-of-type(1){
	display: block;
	font-size: 12px;
	color: #999;
	margin-top: 110px;
}
.content3 .gb{
	position: relative;
	height: 654px;
}
.content3 .gb div{
	position: absolute;
}
.content3 .gb1{
	width: 1091px;
	height: 654px;
	top: 60px;
	left: -65px;
	background: url(../images/image5/3bg1.png) no-repeat;
}
.content3 .gb1 img{
	width: 728px;
	height: 547px;
	margin-top: 39px;
}
.content3 .gb2 img{
	width: 245px;
	height: 432px;
	margin-top: 102px;
}
.content3 .gb3 img{
	width: 221px;
	height: 394px;
	margin-top: 104px;
}
.content3 .gb2{
	width:349px;
	height: 638px;
	top: 116px;
	right: 146px;
	background: url(../images/image5/3bg2.png) no-repeat;
}
.content3 .gb3{
	width: 337px;
	height: 603px;
	top: 154px;
	right: -37px;
	background: url(../images/image5/3bg3.png) no-repeat;
}
.content .intr{
	height: 326px;
	margin-top: 132px;
	border-top: 1px solid #ddd;
}
.content .intr div{
	float: left;
	width: 480px;
}
.content .intr div:nth-child(1){
	margin-right: 260px;
}
.content .intr .pp{
	height: 60px;
	line-height: 60px;
	margin-top: 66px;
	font-size: 18px;
	color: #616161;
	text-align: left;
	position: relative;
}
.content .intr .pp span{
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color: #bdbdbd;
	position: absolute;
	top: -108px;
    left: 320px;
}
.content .intr ul{
	font-size: 13px;
	color: #999;
	width: 480px;
	height: 138px;
	border-top: 1px solid #ddd;
}
.content .intr li{
	margin-top: 21px;
	list-style: disc;
	margin-left: 17px;
	float: none;
	text-align: left;
}

/*标签为content4的样式*/
.content4{
	text-align: center;
	border-top: 1px solid #ddd;
}
.content4 img:nth-child(1){
	margin-top: 70px;
}
.content4 h2{
	font-size: 30px;
	color: #616161;
	font-weight: 400;
	margin-top: 3px;
	margin-bottom: 15px;
}
.content4 h4{
	font-size: 20px;
	color: #555;
	margin-bottom: 42px;
	font-weight: 400;
}
.content4 .p{
	font-size: 14px;
	color: #999;
	line-height: 26px;
	margin-bottom: 42px;
}
.content4 .download div{
	height: 50px;
	width: 150px;
	line-height: 50px;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	font-size: 17px;
	color: #808080;
	float: left;
	position: relative;
	cursor: pointer;
}
.content4 .download div span{
	position: absolute;
	left: -1px;top: 50px;
	font-size: 12px;
	color: #bdbdbd;
}
.content4 .download div:hover{
	background-color: rgba(0,0,0,0.1);
}
.content4 .download div:first-child{
	margin-left: 405px;
	margin-right: 19px;
}
.content4 .download div:last-child{
	width: 50px;
	margin-left: 19px;
	background: url(../images/image5/3er.png) no-repeat center center;
	cursor: auto;
}
.content4 .big1{
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #eee;
	margin-top: 234px;
	background-color: #fff;
	padding-bottom: 40px;
}
.content4 .big1 h2{
	font-size: 34px;
	color: #424242;
	height: 78px;
	line-height: 78px;
	margin-top: 70px;
}
.content4 .big1 p{
	color: #bdbdbd;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 80px;
}
.content4 .big1 .list{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.content4 .big1 .list div{
	float: left;
	box-sizing: border-box;
	border: 10px solid #fff;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: url(../images/image5/4jing.png) no-repeat;
	background-origin: border-box;
	margin-right: 40px;
	margin-bottom: 88px;
	transition: all 1s;
}
.content4 .big1 .list div:hover{
	border-width:1px;	
}
.content4 .big1 .list div:nth-of-type(2){background-position: -122px 0}
.content4 .big1 .list div:nth-of-type(3){background-position: -243px 0}
.content4 .big1 .list div:nth-of-type(4){background-position: -365px 0}
.content4 .big1 .list div:nth-of-type(5){background-position: -487px 0}
.content4 .big1 .list div:nth-of-type(6){background-position: -609px 0}
.content4 .big1 .list div:nth-of-type(7){background-position: -730px 0}
.content4 .big1 .list div:nth-of-type(8){background-position: -852px 0;margin-right: 0;}
.content4 .big1 .list div:nth-of-type(9){background-position: 0 -152px}
.content4 .big1 .list div:nth-of-type(10){background-position: -122px -152px}
.content4 .big1 .list div:nth-of-type(11){background-position: -243px -152px}
.content4 .big1 .list div:nth-of-type(12){background-position: -365px -152px}
.content4 .big1 .list div:nth-of-type(13){background-position: -487px -152px}
.content4 .big1 .list div:nth-of-type(14){background-position: -609px -152px}
.content4 .big1 .list div:nth-of-type(15){background-position: -730px -152px}
.content4 .big1 .list div:nth-of-type(16){background-position: -852px -152px;margin-right: 0;}
.content4 .big1 .list span{
	position: absolute;
	top: 106px;
	left: 13px;
	color: #666;
	font-size: 13px;
}
.content4 .big1 .list span:nth-of-type(2){left: 142px;}
.content4 .big1 .list span:nth-of-type(3){left: 280px;}
.content4 .big1 .list span:nth-of-type(4){left: 422px;}
.content4 .big1 .list span:nth-of-type(5){left: 527px;}
.content4 .big1 .list span:nth-of-type(6){left: 682px;}
.content4 .big1 .list span:nth-of-type(7){left: 810px;}
.content4 .big1 .list span:nth-of-type(8){left: 919px;}
.content4 .big1 .list span:nth-of-type(9){top: 280px;}
.content4 .big1 .list span:nth-of-type(10){left: 133px;top: 280px;}
.content4 .big1 .list span:nth-of-type(11){left: 280px;top: 280px;}
.content4 .big1 .list span:nth-of-type(12){left: 399px;top: 280px;}
.content4 .big1 .list span:nth-of-type(13){left: 546px;top: 280px;}
.content4 .big1 .list span:nth-of-type(14){left: 671px;top: 280px;}
.content4 .big1 .list span:nth-of-type(15){left: 790px;top: 280px;}
.content4 .big1 .list span:nth-of-type(16){left: 928px;top: 280px;}
.content4 .big2{
	background-color: #fff;
	padding-top: 70px;
	position: relative;
}
.content4 .big2 h2{
	font-size: 34px;
	color: #424242;
	height: 78px;
	line-height: 78px;
	margin-top: 0;
}
.content4 .big2 p{
	color: #bdbdbd;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 80px;
}
.content4 .big2 img{
	box-shadow: 0 8px 20px 2px #eee;
	margin-top: 0px;
}
.content4 .big2 ul{
	margin: 0 auto;
	width: 1281px;
	height: 2110px; 
	margin-top: 78px;
}
.content4 .big2 li{
	padding: 0 25px 50px;
}
.content4 .big2 li:nth-child(4){
	margin-top: -59px;
}
.content4 .big2 li:nth-child(7){
	margin-top: -28px;
}
.content4 .big3{
	background-color: #f6f6f6;
	padding-top: 70px;
	padding-bottom: 70px;
}
.content4 .big3 h2{
	font-size: 34px;
	color: #424242;
	height: 78px;
	line-height: 78px;
}
.content4 .big3 p{
	color: #bdbdbd;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 90px;
}
.content4 .big3 ul{
	width: 1028px;
	margin: 0 auto;
}
.content4 .big3 li{
	width: 339px;
	height: 308px;
	padding-bottom: 60px;
	padding-top: 92px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	transition: all 1.5s;
}
.content4 .big3 li p{
	opacity: 0;
	font-size: 14px;
	color: #bdbdbd;
}
.content4 .big3 li img{
	margin-top: 0px;
}
.content4 .big3 li img:nth-child(2){
	margin-left: -104px;
}
.content4 .big3 li:hover{
	padding-top: 35px;
}
.content4 .big3 li:hover img:nth-child(2){
	display: none;
}
.content4 .big3 li:nth-child(1){
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.content4 .big3 li:nth-child(2){
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.content4 .big3 li:nth-child(3){
	border-bottom: 1px solid #e4e4e4;
}
.content4 .big3 li:nth-child(4){
	border-right: 1px solid #e4e4e4;
}
.content4 .big3 li:nth-child(5){
	border-right: 1px solid #e4e4e4;
}
.content4 .big3 li h4{
	font-size: 21px;
	color: #313131;
	margin-top: 5px;
}
.content4 .big4{
	background-color: #fff;
	height: 1076px;
	padding-top: 72px;
	text-align: center;
	overflow: hidden;

}
.content4 .big4 h2{
	font-size: 34px;
	color: #424242;
	height: 78px;
	line-height: 78px;
	margin-top: 0;
}
.content4 .big4 .p{
	color: #bdbdbd;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 70px;
}
.content4 .big4 .left,
.content4 .big4 .right{
	float: left;
}
.content4 .big4 .left{
	width: 501px;
	height: 965px;
	margin: 85px 0 0 13px;
	background: url(../images/image5/heishouji.png) no-repeat;
	background-size: contain;
}
.content4 .big4 .left img{
	margin-left: -23px;
	margin-top: 107px
}
.content4 .big4 .right{
	text-align: left;
	margin: 128px 0 0 125px;
}
.content4 .big4 .right h6{
	color: #424242;
	font-size: 21px;
	margin-bottom: 14px;
}
.content4 .big4 .right p{
	font-size: 14px;
	color: #bdbdbd;
	margin-bottom: 25px;
}
.content4 .big4 .right div:nth-child(2){
	margin-top: 70px;
}
.content4 .big5{
	background-color: #fafafa;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding-bottom: 122px;
}
.content4 .big5 .copy{
	text-align: left;
	padding: 108px 0 94px;
	border-bottom: 1px solid #e5e5e5;
}
.content4 .big5 .copy h6{
	font-size: 20px;
    color: #6c6c6c;
    margin-bottom: 22px;
}
.content4 .big5 .copy p{
	font-size: 14px;
	color: #626262;
}
.content4 .big5 .copy p a{
	color: #395699;
}
.content4 .big5 .intr{
	border-top: none;
	margin-top: 0px;
}
.content4 .big5 .intr .pp span{
	top: 2px;
}
.content5{
	padding-top: 200px;
	height: 1706px;
	width: 100%;
	background-color: #f4f4f4;
}
.content6{
	padding-top: 200px;
	height: 1688px;
	width: 100%;
	background-color: #f4f4f4;
}
.content7{
	padding-top: 200px;
	height: 2041px;
	width: 100%;
	background-color: #f4f4f4;
}
.foot{
	height: 351px;
	position: relative;
}
.foot .nav{
	height: 233px;
	box-sizing: border-box;
	padding: 100px 0px 32px;
	border-bottom: 1px solid #e5e5e5;
}
.foot .nav>ul:nth-child(1)>li{
	width: 149px;
	height: 98px;
	font-size: 10px;
}
.foot .nav ul li li{
	width: 149px;
	height: 13px;
	line-height: 13px;
	margin-bottom: 10px;	
}
.foot .nav ul li li a{
	font-size: 12px;
	color: #969696;
}
.foot .nav ul li li a:hover{
	color: #5079d9;
}
.foot .nav ul li h4{
	width: 149px;
	height: 26px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #646464;
}
.foot .nav .ul2{
	width: 326px;
	height: 98px;
	float: right;
}
.foot .nav .ul2 li{
	margin-left: 110px;
}
.foot .nav .ul2 li:nth-child(1){
	font-size: 28px;
	margin-bottom: 10px;
	margin-left: 120px;
	color: #111;
}
.foot .nav .ul2 li:nth-child(2){
	font-size: 11px;
	color: #999;
}
.foot .nav .ul2 li:nth-child(3){
	position: absolute;
	width: 130px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #ccc;
	border-radius: 4px;
	left: 1143px;
	top: 177px;
}
.foot .nav .ul2 li:nth-child(3) a{
	color: #5079d9;
	font-size: 14px;
}
.foot .nav .ul2 li img{
	vertical-align: middle;
	margin-top: -2px;
}
.foot .int{
	height: 117px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
}
.foot .int h4{
	font-size: 12px;
	color: #555;
	font-weight: 400;
}
.foot .int h4 a{
	color: #5079d9;
}
.foot .int h4:nth-child(2){
	opacity: 0.5;
	margin-top: 8px;
}
.foot .int h4:nth-child(2) a{
	color: #555;
}
.foot .int select{
	position: absolute;
	left: 1136px;
	top: 22px;
}
.down{
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 10px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: url(../images/image5/top.png) no-repeat center center;
	background-size: cover;
}











@keyframes changea{
			0%{
				opacity: 1;
			}
			23%{
				opacity: 1;
			}
			34%{
				opacity: 0;
			}
			89%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
@keyframes changeb{
			0%{
				opacity: 1;
			}
			56%{
				opacity: 1;
			}
			67%{
				opacity: 0;
			}
			100%{
				opacity: 0;
			}