.loader{
	height: 30px;
	width: 6px;
	background:#ff4700;
	margin: 30px auto;
	position: relative;
	transform: scale(1,1);
	animation: loading 0.3s linear 0s infinite alternate;
	/*display: none;*/
	top:40px;
}
.loader:before{
	content:'';
	height: 30px;
	width: 6px;
	background:#ff4700;
	margin: 0px 10px;
	left: 50%;
	position: absolute;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate;
}
.loader:after{
	content:'';
	height: 30px;
	width: 6px;
	background:#ff4700;
	margin: 0px -16px;
	left: 50%;
	position: absolute;
	transform: scale(1,0.3);
	animation: loading 0.3s linear 0.5s infinite alternate;
}
@keyframes loading{
	from{
		transform:scale(1,0.5);
		opacity:0.2;
	}
	to{
		transform:scale(1,0.9);
		opacity:1;
	}
}
/*nav*/
.nav{
	background-color: black;
	height: 100px;
}
.nav .container{
	line-height: 100px;
}
.nav .container .logo{
	float: left;
	margin-top: 15px;
}
.nav .nav2 {
	margin-left: 220px;
	position: relative;
	z-index: 10000;
}
.nav .nav2 ul a:hover{
	color: white;
}
.nav .nav2 ul a{
	color: #c8c8c8;
}
.nav .nav2 ul li{
	list-style: none;
	float: left;
	margin-right: 60px;
}
.nav .nav2 ul li:nth-child(8) a{
	color: #333030;
}
.nav .container .nav2 ul li input{
	position: absolute;
	width: 0px;
	top:45px;
	opacity: 0;
	height: 0px;
}
.nav .nav2 ul input:hover +a{
	color: white;
}
.nav2  ul li input:checked+a{
	color:white;
}
.nav .nav2 ul li:nth-child(8) input:hover+a{
	color: #333030;
}
.navCart{
	height:250px;
	width: 300px;
	background: #fff;
	position: absolute;
	top: 80px;
	right: -113px;
	z-index: 999;
	border: 1px solid #ededed;
	border-radius: 10px;
	text-align: center;
	/*overflow: hidden;*/
	display: none;

}
.navCart i{
	display: block;
	font-size: 60px;
	color: #ccc;
	margin-top: 50px;
}
.navCart span{
	display: block;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
}
.navCart .span1{
	color: #000;
	font-size:25px;
	font-weight: 100;
}

.navCart .span2{
	color: #ccc;
}
.navCart .arrow{
	height: 20px;
	width: 20px;
	background: #fff;
	position: absolute;
	transform: rotateZ(45deg);
	left: 50%;
	margin-left: -10px;
	top: -10px;
}
.nav3{
	position: relative;
}
.nav3 a{
	display: inline-block;
}
.nav3 a:first-child{
	display: inline-block;
	margin-right: 30px;
}
.nav3 a i{
	color: #999;
	font-size: 18px;
}
.nav3 a .shopping{
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #999999;
	vertical-align: top;
	margin-top: 38px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	margin-left: 8px;
	color:white;
}
.nav-hidden .navCart{
	top:58px;
	right: -105px;
}
.nav-hidden .nav3 a:nth-child(2){
	width: 50px;
}
.nav-hidden #span1{
	top: 115px;
	left: 85px;
}

.nav-hidden #span2{
	top: 150px;
	left: 50px;
}
.nav-hidden{
	height: 0px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 60px;
	z-index: 99;
	top: 0px;
	background: #ede9e9;
}
.nav-hidden .container{
	position: relative;
}
.nav-hidden .sub-nav{
	position: absolute;
	left: 0px;
	z-index: 999;
}
.nav-hidden .nav3{
	height: 60px;
	width: 110px;
	position: absolute;
	right: -150px;
}
.nav-hidden .nav3 span{
	position: absolute;
	top: -18px;
}

/*.sub-nav-banner*/
.sub-nav-banner{
	height: 590px;
	background-color: #ededed;
	margin-top: 1px;
	position: relative;
}

.sub-nav{
	height: 60px;
	float: left;
	position: relative;
	/*overflow: hidden;*/
	line-height: 60px;
	left: -42px;
}
.sub-nav ul li{
	float: left;
	margin-right: 35px;
	position: relative;
}
.sub-nav ul li .a1{
	opacity: 0.3;
}
.sub-nav ul li .a2{
	position: absolute;
	left: 0px;
	top: 0px;
}
.sub-nav ul li input{
	position: absolute;
	width: 75px;
	top:45px;
	opacity: 0;
	height: 45px;
}
.sub-nav ul li input:checked+a{
	font-weight: bolder;
}
.sub-nav ul li a{
	color: #666666;
}
.sub-nav a:hover{
	color: blue;
}
.sub-nav-banner .sub-nav ul li input:hover +a{
	color: blue;
}
.navCate1{
	height: 0px;
	width: 100%;
	background:#fff;
	position: absolute;
	border-top: 1px solid #ccc;
	overflow: hidden;
	position: absolute;
	z-index: 2000;
	top: 58px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	border-top: none;
	z-index: 9999;
}
.navCate1 ul{
	width: 1226px;
	margin:0 auto;
}
.navCate1 li{
	height: 320px;
	width: 303px;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	float: left;
	margin-top: 30px;
}
.navCate1 li:nth-child(4){
	border-right:none;
}
.navCate1 li img{
	height: 150px;
	width: 100px;
	margin-top: 30px;

}
.navCate1 li p{
	text-align: center;
	margin-top: -10px;
}
.navCate1 li .price{
	color: #ff4700;
	font-weight: 700;
}
.navCate{
	height: 0px;
	width: 100%;
	background:#fff;
	position: absolute;
	border-top: 1px solid #ccc;
	overflow: hidden;
	position: absolute;
	z-index: 1000;
	top: 180px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	border-top: none;
}
.navCate ul{
	width: 1226px;
	margin:0 auto;
}
.navCate li{
	height: 300px;
	width: 303px;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	float: left;
	margin-top: 40px;
}
.navCate li:nth-child(4){
	border-right:none;
}
.navCate li img{
	height: 150px;
	width: 100px;
	margin-top: 50px;

}
.navCate li p{
	text-align: center;
	margin-top: 20px;
}
.navCate li .price{
	color: #ff4700;
	font-weight: 700;
}
.sub-nav-banner .sub-banner{
	height: 500px;
	width: 1220px;
}
.sub-nav-banner .sub-banner ul{
	position: absolute;
	bottom: 85px;
	left: 47%;
}
.sub-nav-banner .sub-banner li{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #bcb7b7;
	list-style: none;
	float: left;
	margin-right: 20px;

}
/*goods*/
.goods{
	margin-top: 25px;
	background-color: #ededed;
	border: 1px solid #ececec;
	box-sizing: border-box;
}

.hot-goods{
	margin-top: 25px;
	border: 2px solid #ececec;
	box-sizing: border-box;
}
.hot-goods .container{
	border: 2px solid #e7e7e7;
	border-radius: 10px;
	height: 490px;
}
.goodsbottom{
	width: 100%;
	height: 426px;
}
.goodsbottom .goodsbox{
	height: 426px;
}
.goodsbottom .goodsbox li{
	width: 304px;
}
.goodsbottom .goodsbox li:nth-child(1),{
	width: 25%;
	height: 426px;
	background-color: white;
	box-sizing: border-box;
	position: relative;
	border: 1px solid #e5e5e5;
	float: left;
}
.hot-goods .goodsbottom .div1{
	height: 426px;
}
.hot-goods .goodsbottom .div1 .goodsbox{
	width: 2433px;
}
.hot-goods .goodsbottom .goodsbox li:nth-child(1) img{
	height: 162px;
	width: 95px;
	margin-top: 70px;
	margin-left: 107px;
} 
.hot-goods .goodsbottom .goodsbox li li{
	height: 15px;
	width: 15px;
	border:none;
}
.clear{
	height: 912px;
	width: 100%;
	margin-top: 25px;
}
.select{
	height: 912px;
	width: 100%;
	margin-top: 25px;
}
.rim{
	height: 912px;
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;
}
.apply{
	margin-top: 25px;
	width: 100%;
	height: 376px;
	border: 1px solid #ececec;
	box-sizing: border-box;
}
.apply .goodstop li{
	display: block;
	border-radius: 0px;
	height: 35px;
	width: 103px;
	box-shadow: none;
	line-height: 30px;
	border-radius: 10px;
	border: 1px solid #ececec;
}
.apply .goodstop li a{
	color: #666;
}
.goodstop ul li a.active{
	box-shadow: 0 0 0 0;
	color:#ccc;

}
.apply .goodsbottom .div1{
	width: 1220px;
	overflow: hidden;
}
.apply .goodsbottom li{
	height: 316px;
	padding: 0 32px;
	overflow: hidden;
}
.apply .goodsbottom li p{
	margin-bottom: 2px;
	line-height: 27px;
}
.apply .goodsbottom .goodsbox li .desc{
	color: #b4b4b4;
}

.apply .goodsbottom li:nth-child(1){
	height: 316px;
}
.apply .goodsbottom li img{
	height: 62px;
	width: 78px;
	margin-top: 48px;
	margin-left: 87px;
}
.apply .goodsbox li .buy{
	position: absolute;
	height: 400px;
	width: 300px;
	top: 40px;
	left: 31px;
	background-color: white;
}
.apply .goodsbox li .buy span{

	font-size: 12px;
	line-height: 55px;
	text-align:center;
	height: 60px;
	width: 240px;
}
.apply .goodsbox li .check{
	height: 60px;
	width: 240px;
	background-color: #628ae5;
	color:white;
}
.apply .goodsbox li .purchase{
	height: 60px;
	width: 240px;
	background-color: #628ae5;
	margin-top: 20px;
	color:white;
	margin-bottom: 20px;
}
.apply .goodsbox li .more{
	background-color: white;
	border: none;
	color: #628ae5;
	margin-top: 40px;
}
.apply .goodsbox li .er{
	height: 150px;
	width: 150px;
	margin-top: 0px;
	margin-left: 41px;
}
.apply .goodsbox li .img1{
	height: 138px;
	width: 250px;
	margin-top:37px;
	margin-left:-4px;
}
.apply .goodsbox li p{
	text-align:left;
}
.apply .goodsbox li .info1{
	color:#333;
	font-size: 14px;
	margin-top: -25px;
	margin-bottom: 25px;
	font-weight: bold;
}
.apply .goodsbox li .desc1{
	line-height: 15px;
	margin-bottom: 0px;
	font-size: 12px;
	color: #b4b4b4;
}
.apply .goodsbox li .more1{
	font-size: 14px;
	color: #5079d9;
	margin-top: 20px;
	font-weight: bolder;
}
.space{
	height: 60px;
	width: 100%;
	background-color: #ededed;
}
/*footer*/
.footer{
	height: 230px;
	border-bottom: 1px soild #eaeaea;
	box-sizing: border-box;
	padding-top: 1px;
}
.footer .container{
	height: 100px;
	width: 1220px;
	margin-top: 90px;
	margin-bottom: 40px;
}
.footer ul{
	height: 100px;
	width: 1000px;
	margin-top: 90px;
	margin-bottom: 40px;
}
.footer ul li{
	float: left;
	list-style: none;
	margin-right: 100px;
	height: 100px;
	float: left;
}
.footer ul li dd,
.footer ul li dt{
	height: 12px;
	font-size: 12px;
}
.footer ul li dt{
	color: #646464;
	margin-top: -44px;
	margin-bottom: 25px;
}
.footer ul li dd{
	color: #969696;
	margin-top: 13px;
}
.footer .contact{
	position: relative;
	height: 100px;
	width: 210px;
	float: right;
}
.footer .contact p{
	height: 25px;
	line-height: 25px;
}
.footer .contact .pho{
	font-size: 25px;
	color: #646464;
	margin-left: 35px;
}
.footer .contact .timer{
	font-size: 10px;
	color: #c3c3c3;
}
.footer .contact .help{
	display:inline-block;
	height: 32px;
	width: 130px;
	color: #5079d9;
	background-color: white;
	line-height: 32px;
	border: 1px solid #c3c3c3;
	text-align: center;
	position: absolute;
	right: 8px;
	bottom: 0px;
	border-radius: 5px;
}
.footer .contact .help i{
	margin-right: 5px;
}
/*end*/
.end{
	height: 120px;
}
.end .left{
	height: 40px;
	width: 700px;
	float: left;
	margin-top: 42px;
}
.end .left ul{
	float: right;
}
.end .left span,
.end .left li{
	line-height: 24px;
	height: 24px;
	font-size: 12px;
}
.end .left .copy{
	color: #333;
}
.end .left span{
	float: left;
	margin-right: 20px;
	color: #c3c3c3;
}
.end .left li{
	float: left;
	list-style: none;
}
.end .left li a{
	font-size: 12px;
	color: #5079d9;
}
.end .right{
	height: 50px;
	width: 100px;
	line-height: 50px;
	float: right;
	text-align: center;
	font-size:10px; 

}
.end .right img{
	margin-right: 15px;
}
.end .right i{
	margin-left: 20px;
	color: black;
}