

.list .list-sort{
	padding-top: 20px;
	padding-bottom: 20px;
}
.list .list-sort li{
	border: 1px solid #666;
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #000;
	text-align: center;
	margin-right: 1px;
	cursor: pointer;
	background-color: #fff;
	user-select: none;
}
.list .list-sort li.active{
	background-color: red;
}
.list .list-sort .sort-price i{
	display: inline-block;
	top: 0px;
	color: #888;
	opacity: 0.4;
	font-size: 18px;
}
.list .list-sort .sort-price i:nth-of-type(1){
	vertical-align: 12%;
	margin-left: 4px;
}
.list .list-sort .sort-price i:nth-of-type(2){
	vertical-align: -27%;
	margin-left: -14px;
}

.list .list-sort .sort-price.asc .fa-sort-asc{
	color: #000;
	opacity:1;
}
.list .list-sort .sort-price.desc .fa-sort-desc{
	color: #000;
	opacity:1;
}
.product-list .product-item{
	width: 230px;
	height: 300px;
	text-align: center;
	padding-top: 20px;
	background-color: #fff;
	margin-right: 12px;
	margin-bottom: 20px;
}
.product-list .product-item:nth-child(5n){
	margin-right: 0px;
}
.product-list .product-item img{
	width: 150px;
	height: 200px;
}
.product-list .product-item p{
	margin-top: 10px;
}
.product-list .product-item .product-name{
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}