a:hover{
	color: red
}
.user-menu .user-menu-item{
	margin-left: 20px
}
.nav{
	height: 30px;
	line-height: 30px;
	background-color: #fff;
}
.nav .container{
	height: 100%;
	border-bottom: 1px solid #eee;
}