{% extends './index.html' %}
{% block title %}{{ name }}{% endblock %}

<!-- {% block link %}
        <li class="active"><a href="/">首页</a></li>
        {% for value in data %}
        <li><a href='{{ value.name }}+".html"'>{{ value.name }}</a></li>
        {% endfor %}
{% endblock %} -->
     
{% block content %}
<div class="col-md-8">

	<div id="articles">
		{% for name in thisName %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <a href='/getArt?id={{ name._id.toString() }}' class="panel-title">{{ name.title }}</a>
		  </div>
		  <div class="panel-body">
		    {{ name.intr }}
		  </div>
		  <div class="panel-footer">
		  	<span class="glyphicon glyphicon-user"></span>
		  	<span class="">{{name.user.username }}</span>
		  	<span class="glyphicon glyphicon-th-list"></span>
		  	<span class="">{{ name.category.name }}</span>
		  	<span class="glyphicon glyphicon-time"></span>

		  	<span class="">{{ name.createdAt | date('Y年m月d日 H:i:s',-8*60) }}</span>
		  	<span class="glyphicon glyphicon-eye-open"></span>
		  	<span class="">{{ name.click }}</span>
		  </div>
		</div>
		{% endfor %}
	</div>
	
	<!-- <nav aria-label="Page navigation" id="page">
      <ul class="pagination">
        <li>
          <a href="javascript:;" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for i in list %}

        {% if page == i %}
        <li class="active"><a href="javascript:;">{{ i }}</a></li>
        {% else %}
        <li><a href="javascript:;">{{ i }}</a></li>
        {% endif %}

        {% endfor %}
        <li>
          <a href="javascript:;" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> -->

</div>
{% endblock %}
			