<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客后台</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/index.css">
    <link href="/css/dashboard.css" rel="stylesheet">
 
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:;">博客后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="margin-left: 20px;"><a href="#" class='logout'>退出</a></li>
          </ul> 
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">  
            <li><a href="/admin">用户列表<span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/list1">分页管理</a></li>
            <li><a href="/article">文章管理</a></li>
            <li><a href="/admin/list3">评论管理</a></li>
            <li><a href="/admin/list4">资源管理</a></li>
            <li><a href="/admin/list5">站点管理</a></li> 
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}
          <h2 class="sub-header" style="border-bottom: none;">用户目录</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>用户ID</th>
                  
                  <th>用户名</th>
                  
                  <th>是否管理员</th>
                </tr>
                {% for value in data %}
                <tr>
                  <td>{{ value._id.toString() }}</td>
                  
                  <td>{{ value.username }}</td>
                  {% if value.isAdmin %}
                  <td>是</td>
                  {% else %}
                  <td>否</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="/admin?page={{page*1-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% for i in list %}

                {% if page == i %}
                <li class="active"><a href="/admin?page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li><a href="/admin?page={{ i }}">{{ i }}</a></li>
                {% endif %}

                {% endfor %}
                <li>
                  <a href="/admin?page={{page*1+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          {% endblock %}
       </div>
    
      </div>
    </div>

    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script>
    {% block end %}
   
    {% endblock %}
  </body>
</html>
