

{% extends './index.html' %}


{% block content %}
<h2 class="sub-header" style="border-bottom: none;">分页目录</h2>
<a href="list1-ctl1" style="margin-top: 10px;margin-right: 10px;">管理页面</a>
<a href="list1-ctl2" style="margin-top: 10px;">新增分类</a>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>ID</th>
          
          <th>分类名</th>
          
          <th>序号</th>
        </tr>
        {% for value in data %}
        <tr>
          <td>{{ value._id.toString() }}</td>
          
          <td>{{ value.name }}</td>
          <td>{{ value.order }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}