

{% extends './index.html' %}
{% block content %}
<h2 class="sub-header">添加资源</h2>
<form class="form-horizontal" action="/resource/add" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">资源名称</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="resName" placeholder="资源名称" required>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">文件选择</label>
    <input type="file" id="exampleInputFile" name="file">
    <p class="help-block"></p>
  </div>
  <button type="submit" class="btn btn-default">提交</button>
</form>
{% endblock %}
{% block end %}
<script src="/js/ckeditor.js"></script>
<script src="/js/zh-cn.js"></script>  
<script src="/js/article.js"></script>  
{% endblock %}