

{% extends './index.html' %}


{% block content %}
  <h2 class="sub-header">修改密码</h2>
<form class="form-horizontal" action="/admin/rePassword" method="post" id="repass">
  <div class="form-group">
    <label for="exampleInputEmail1">输入新密码</label>
    <input type="password" id="exampleInputEmail1" name="password" placeholder="请输入新密码" required>
    <span class="help-block1" style="color: red;display: inline;"></span>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">确认新密码</label>
    <input type="password" id="exampleInputFile" name="repassword" placeholder="请输入一致密码" required>
    <span class="help-block2" style="color: red;display: inline;"></span>
  </div>
  <button type="submit" class="btn btn-repass">提交</button>
</form>
{% endblock %}