.search{
    height: 100px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 100px;
}
.search .kmall{
    font-size: 40px;
    line-height: 100px;
    margin-right: 100px;
}
.search .kmall a{
    color: red; 
}
.search .search-input{
    width: 300px;
	height: 30px;
	border: 1px solid #2b99ff;
    padding: 0 10px;
	outline: none;
}
.search-btn{
    margin-left: -4px;
    vertical-align: middle;
    margin-top: -2px;
}
.search-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}