<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/head.html') %>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %> -KMALL电商平台</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>

	<div class="list">
		<div class="container ">
			<div class="crumb">
				<a href="/">首页</a>
				&gt;
				<%= htmlWebpackPlugin.options.title %>
			
			</div>
		</div>
	
		<div class="container ">
			<ul class="list-sort clearfix">
				<li class="sort-default active">默认排序</li>
				<li class="sort-price asc">
					<span>价格排序</span>
					<i class="fa fa-sort-asc"></i>
					<i class="fa fa-sort-desc"></i>
				</li>
			</ul>
			<ul class="product-list clearfix"></ul>
			<div class="pagination-box clearfix"></div>
		</div>
	</div>

	<%= require('html-loader!./common/foot.html') %>
</body>
</html>