<div class="nav">
	<div class="container">
		<div class="user-info fl ">
			<div class="user-load">
				<a href="/user-login.html">请登录</a>
				<a href="/user-register.html">免费注册</a>
			</div>
			<div class="user-loaded hide">
				<span>欢迎！<a href="./user-center.html" class="username"></a></span>
				<a href="javascript:;" id="logout">退出</a>
			</div>
		</div>
		<ul class="user-menu fr">
			<li class="user-menu-item"><a href="">我的kmall</a></li>
			<li class="user-menu-item">
				<a href="./cart.html">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span id="cart-total">0</span>)件 
				</a>
			</li class="user-menu-item">
			<li class="user-menu-item"><a href="./order-list">我的订单</a></li>
		</ul>
		
	</div> 
</div>